<h1>Sign In</h1>

<%= form_for :session do |f|%>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.submit "Log in"%>
  </p>
<% end %>

<%= render 'shared/navigation' %>
