<h1>Listing articles</h1>

<% if current_user %>
  <%= link_to 'New article', new_article_path %>
<% end %>
 
<table>
  <tr>
    <th>Title</th>
    <th>Writer</th>
    <th colspan="2"></th>
  </tr>
  <div>
  <% @articles.each do |article| %>
    <tr>
      <td><a style="color:white; text-decoration:none; margin-left:0;" data-toggle="collapse" href="#collapse<%= article.id %>"><%= article.title %></a></td>
      <td><%= article.account.username %></td>
      <% if article.account.id == session[:user_id] %>
      <td><%= link_to 'Edit', edit_article_path(article) %><%= link_to 'Destroy', article_path(article), method: :delete, data: {confirm: 'Are you sure?' } %></td>
      <% else %>
      <td></td>
      <% end %>
    </tr>
    <tr>
      <td colspan="3"><div id="collapse<%= article.id %>" class="collapse" style="background-color:#707070; border-radius:5px; width: 85%; padding-left:5px; overflow:hidden; height:0px; margin-right: 15%;"><a href='<%= article_path(article) %>' style="margin:0; color:white; text-decoration:none;"><%= safe_join(article.text.split("\r\n"), "<br />".html_safe) %></div></a></td>
    </tr>
  <% end %>
</div>

<%= render 'shared/navigation' %>
