<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= safe_join(@article.text.split("\r\n"), "<br />".html_safe) %>
</p>

<% if current_user %>
<%= link_to 'Edit', edit_article_path(@article) %>
<% end %>

<h2>Comments</h2>
<%= render @article.comments  %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= render 'shared/navigation' %>
