<span style="background-color: #424242; width:50%" class="navigation">
<% if current_user %>
<%= "Hello, " << Account.find(session[:user_id]).username << "!" %><a style="display:inline" href='/articles'>Home</a><%= link_to "Logout", '/logout', method:"delete" %>
<% else %>
<a style="margin-left:0; display:inline" href='/articles'>Home</a><a style="display:inline" href='/account/new'>Register</a><a style="display:inline" href='/login'>Login</a>
<% end %>

</span>
