<h1>Create An Account</h1>

<%= form_for :account do |f|%>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= render 'shared/navigation' %>
