/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"
@import "bootstrap"

@mixin margin-left($margin-left)
        margin-left:$margin-left;

@mixin margin-right($margin)
        margin-right:$margin;

@mixin padding($padding)
        padding:$padding;

@mixin border-radius($border-radius)
        border-radius:$border-radius;

@mixin color($color)
        color:$color;

@mixin background-color($background-color)
        background-color:rgba($background-color);

$dark-gray: #424242
$dark-pink: #A86565
$light-pink: #A88787

$no-padding-or-margin: 0px
$top-center-margin: 5%
$pad-top: 30px
$table-data-width: 36%

body
        background-color: $dark-gray
        padding: $no-padding-or-margin
        padding-left: 5%
        padding-right: 5%
        color: white
        padding-bottom: 5%

h1
        color: white
        background-color: $dark-pink
        margin-top: $no-padding-or-margin
        margin-left: $top-center-margin
        margin-right: $top-center-margin
        padding: $pad-top
        border-radius: 0 0 15px 15px
        text-align:center

a
        margin-left: 10%
        color: $light-pink

table
        margin-left: 10%
        margin-right: 10%
        width: 90%

th
        color:white
        width: $table-data-width

td
        color:white
        width: $table-data-width

p
        color: white
        margin-left: 10%
        margin-right: 10%

div
        color: white
        margin-left: 10%
        margin-right: 10%

h2
        color: $light-pink
        margin-left: 10%
        margin-right: 10%

#article_title
        color: black

#article_text
        color: black

input[type="submit"]
        background-color: #422828
        color:white

#account_username
        color: black

#account_password
        color: black

#session_username
        color: black

#session_password
        color: black

.navigation
        position: fixed
        bottom: 0px
        margin-left: 0px

.collapse
        margin-left: 0

.collapsing
        margin-left: 0

#comment_commenter
        color: black

#comment_body
        color: black